.sec-4 .item img {
    transition: transform 0.2s ease-in-out;
}

.sec-4 .item img:hover {
    transform: scale(1.1);
}

.sec-5 .item img {
    transition: transform 0.2s ease-in-out;
}

.sec-5 .item img:hover {
    transform: scale(1.1);
}

header nav a:hover {
    color: red;
}

button:hover{
    color: white;
    background: cornflowerblue;
}

footer button:hover{
    color: white;
    background: red;
    border-color: darkred;
}