@import "reset.css";

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Vollkorn', serif;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 28px;
}

h2 {
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.container-wrapper {
    padding: 0 10px;
}

.d-flex {
    display: flex;
}

header {
    padding: 18px 0;
}

header .container-wrapper {
    align-items: center;
    justify-content: space-between;
}

header nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #404040;
}

header nav.d-flex {
    gap: 34px;
}

.sec-1 {
    background-image: url("../img/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 105px 0 100px;
    color: #ffffff;
    text-align: center;
    position: relative;
}

.sec-1 p {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    opacity: 0.81;
}

.x-icon {
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
}


.line {
    height: 2px;
    margin: 0 auto 25px;
    width: 80px;
    background: #FFFFFF;
}

.sec-2{
    padding: 60px 0;
    background: #FEFEC9;
}
.sec-2 p {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #47474F;
    margin-bottom: 40px;
}

.btn-main{
    color: #47474F;
    background: transparent;
    border: 1px solid #47474F;
    border-bottom-width: 2px;
    padding: 13px 34px 20px;
    display: block;
    margin: 0 auto;
}
.btn-secondary{
    color: #47474F;
}

h2{
    margin: 79px auto 0;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    text-transform: uppercase;
}

.sec-3 .line{
    height: 2px;
    margin: 28px auto 43px;
    width: 80px;
    background: rgba(0, 0, 0, 0.09);

}

.sec-3{
    background: white;
    text-align: center;
    margin: 0 auto;
}

.sec-3 .frame-container{
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 10px;
    max-width: 960px;
}

.sec-3 .frame-container h2{
    margin: 38px 0 20px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
}

.sec-3 .frame-container p{
    font-family: 'Vollkorn';
    max-width: 300px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin: 0 0 74px;
    color: #333333;
}

h3{
    font-family: 'Montserrat';
    margin: 79px 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.sec-4{
    background: #F5F5F5;
    padding: 10px;
    text-align: center;
}

.sec-4 .line{
    height: 2px;
    margin: 28px auto 43px;
    width: 80px;
    background: rgba(0, 0, 0, 0.09);
}

.sec-4 .frame-container{
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 20px;
    max-width: 960px;
}

.sec-4 .frame-container h3{
    margin: 19px 0 4px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
}

.sec-4 .frame-container p{
    font-family: 'Vollkorn';
    max-width: 300px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    margin: 0 0 21px;
    color: #333333;
}

.sec-5{
    padding: 10px;
    text-align: center;
}

h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    margin: 79px auto 0;
    color: #333333;
}

.sec-5 .line{
    height: 2px;
    margin: 28px auto 43px;
    width: 80px;
    background: rgba(0, 0, 0, 0.09);
}

.sec-5 .frame-container{
    display: inline-flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 10px;
    max-width: 960px;
}

.sec-5 .frame-container h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 20px 0 6px;
    text-transform: uppercase;
    color: #333333;
}

.sec-5 .frame-container p{
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 0 0 18px;
    color: #333333;
}

.sec-5 .frame-container .iconsoc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 100px;
    gap: 10px;
    max-width: 220px;
    max-height: 35px;
}
